/***********************************************************
=========================== COLOR ==========================
***********************************************************/
@font-face {
  font-family: "Roboto-Light";
  src: url(../Fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../Fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../Fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url(../Fonts/Roboto/Roboto-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url(../Fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
h1 {
  font-family: "Shrikhand";
  font-size: 1.5em;
}

h2 {
  font-family: "Roboto-Black", "sans-serif";
  font-size: 1.4em;
}

h3 {
  font-family: "Roboto-Black";
  font-size: 1em;
}

.light {
  font-family: "Roboto-Light";
  font-size: 1em;
}

.medium {
  font-family: "Roboto-Medium", "sans-serif";
  font-size: 0.9em;
}

.cardLi__global {
  font-family: "Roboto-Medium", "sans-serif";
}
.cardLi__global--subtitle {
  font-family: "Roboto-Light", "sans-serif";
}

.explor a, .select a {
  font-family: "Roboto-Medium";
  font-size: 1em;
  color: #fff;
  text-align: center;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    display: block;
    transform: translate(-50%, -50%) rotate(-360deg);
  }
  100% {
    display: block;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp-1 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.07s;
  animation-fill-mode: both;
}

.fadeInUp-2 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.14s;
  animation-fill-mode: both;
}

.fadeInUp-3 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.21s;
  animation-fill-mode: both;
}

.fadeInUp-4 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.28s;
  animation-fill-mode: both;
}

.fadeInUp-5 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.35s;
  animation-fill-mode: both;
}

.fadeInUp-6 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.42s;
  animation-fill-mode: both;
}

.fadeInUp-7 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.49s;
  animation-fill-mode: both;
}

.fadeInUp-8 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.56s;
  animation-fill-mode: both;
}

.fadeInUp-9 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.63s;
  animation-fill-mode: both;
}

.fadeInUp-10 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}

.header {
  display: flex;
  padding: 15px;
  text-align: center;
  align-items: center;
}
.header img {
  width: 15px;
}
.header h1 {
  display: block;
  width: 175px;
  margin: auto;
}

.local {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  padding: 18px;
  box-shadow: inset 0px 2px 5px 2px #b1b1b1;
}

.explor {
  background-color: #f6f6f6;
  padding: 25px 10px 25px 10px;
}
.explor h2 {
  text-align: center;
  padding: 25px 20px 5px 20px;
}
.explor .light {
  display: block;
  text-align: center;
  padding: 10px 0px 35px 0px;
}

.working {
  width: 90%;
  margin: auto;
  padding-bottom: 25px;
  background-color: #fff;
}
.working .number {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  font-family: "Roboto-Bold";
  font-size: 0.9em;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  line-height: 25px;
}
.working h2 {
  width: 100%;
  margin: auto;
  padding: 50px 0px 25px 25px;
}
.working__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.working__list--btn {
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  align-items: center;
  width: 250px;
  height: 65px;
  margin: auto 25px 25px;
  font-family: "Roboto-Bold";
  font-size: 0.9em;
  box-shadow: 0px 5px 10px 1px #e2e2e2;
  background-color: #eeeeee;
}
.working span {
  margin-right: 10px;
  color: #000;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 25px 10px 25px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.restaurants a {
  text-decoration: none;
  color: #000;
}
.restaurants h2 {
  padding: 50px 0px 25px 25px;
  width: 95%;
  margin: auto;
}
.restaurants__title {
  font-family: "Roboto-Bold", "sans-serif";
  font-size: 0.8em;
}
.restaurants__card {
  position: relative;
  width: 90%;
  max-width: 600px;
  height: 190px;
  margin: auto;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 1px #e2e2e2;
  transition: transform cubic-bezier(0.6, -0.59, 0.29, 1.68) 0.5s;
}
.restaurants__card .medium {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 100px;
  text-align: center;
  background-color: #abf7e0;
  padding: 7px;
  color: #38ad8a;
  border-radius: 3px;
  transition: 1s;
}
.restaurants__card .medium:hover {
  transform: scale(1.2);
}
.restaurants__card:hover {
  transform: scale(1.03);
}
.restaurants .blocTxt {
  position: relative;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
  line-height: 1.3em;
}

.menu {
  margin-top: -40px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow: hidden;
}
.menu h1 {
  position: relative;
  padding: 25px 10px 10px 25px;
  background-color: #f6f6f6;
}

.footer {
  bottom: 100%;
  width: 100%;
  max-height: 200px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #383838;
}
.footer h1 {
  font-family: "Shrikhand";
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 20px;
}
.footer__flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
.footer__flex li {
  min-width: 250px;
  margin: 0px 50px 10px 0px;
  font-family: "Roboto-Medium";
  font-size: 1.1em;
}
.footer__flex li a {
  color: #fff;
  text-decoration: none;
  width: 25%;
  text-decoration: underline transparent;
  transition: 0.2s;
}
.footer__flex li a:hover {
  text-decoration: underline #fff;
}
.footer__flex img {
  width: 15px;
}

a {
  text-decoration: none;
}

.select {
  margin: -20px auto;
  padding: 35px;
  background-color: #f6f6f6;
}
.select__btn {
  background-color: #f6f6f6;
}

.explor a, .select a {
  display: block;
  width: 70%;
  max-width: 400px;
  min-width: 225px;
  height: 20px;
  margin: 20px auto;
  border: none;
  border-radius: 25px;
  padding: 17px;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0px 2px 5px 2px #cccccc;
  cursor: pointer;
}
.explor__btn:hover, .select__btn:hover {
  box-shadow: 2px 0px 5px 2px #cccccc;
  background: linear-gradient(#c091fa, #ffa9e7);
}
.explor__btn:focus, .select__btn:focus {
  outline: 0 !important;
}

.working a {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  padding-top: 15px;
}
.working a:focus {
  background-color: #f7ecff;
  outline: 0 !important;
  border: none;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader div {
  border: solid 2px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #c091fa;
  border-right-color: #ffa9e7;
  padding: 10px;
  border-radius: 100%;
  animation: rotate 7s;
}

.heartLog {
  position: absolute;
  width: 25px;
  top: 60%;
  left: 88%;
  transform: translate(-50%, -50%);
}

.local__img {
  width: 10px;
  margin-right: 10px;
}

.working__list img {
  width: 18px;
  height: 18px;
  margin: 13px 15px -3px 10px;
}

.restaurants__card--bg {
  object-fit: cover;
  object-position: center 60%;
  width: 100%;
  height: 130px;
}

.imgBg {
  position: relative;
}
.imgBg img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.start, .main, .course {
  width: 350px;
  min-width: 150px;
  margin: 25px 20px 0px 0px;
  padding-left: 20px;
}
.start .light, .main .light, .course .light {
  text-transform: uppercase;
}
.start hr, .main hr, .course hr {
  width: 50px;
  height: 4px;
  margin-top: 5px;
  margin-left: 0;
  background-color: #99E2D0;
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
}

.cardLi {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 60px;
  min-width: 250px;
  margin: 7px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 2px 8px 3px #d4d4d4;
  transition: 0.3s;
  line-height: 25px;
  cursor: pointer;
}
.cardLi__global {
  width: 95%;
  margin: 7px 0px 7px 7px;
  cursor: pointer;
}
.cardLi__global p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardLi__global--title {
  display: block;
  width: 100%;
  margin: auto;
}
.cardLi__global--subtitle {
  display: block;
  width: 100%;
  margin: auto;
}
.cardLi__global--side {
  position: absolute;
  top: 50%;
  right: 5%;
  display: block;
  background-color: #fff;
}

.cardLi:hover {
  box-shadow: -3px -2px 8px 3px #d4d4d4;
}

.box {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.tick {
  position: relative;
  width: 60px;
  height: 100%;
  text-align: center;
  background-color: #99E2D0;
}
.tick img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
}

.box:checked ~ .tick {
  right: 0;
}

.box:checked ~ .tick img {
  text-align: center;
  animation: rotate2 0.5s;
}

.tick {
  position: absolute;
  right: -60px;
  transition: 0.5s;
}

.ImgHeart {
  position: absolute;
  width: 25px;
  top: 85%;
  left: 88%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.heartBox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.colorized, .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  transition: 0.5s;
}

.colorized {
  display: none;
}

.empty {
  display: block;
}

.stop-1 {
  stop-color: #9356DC;
}

.stop-2 {
  stop-color: #FF79DA;
}

.FavIn1 {
  stroke: url(#heart-gradient1) #9356DC;
  stroke-width: 10;
  fill: url(#heart-gradient1) #9356DC;
}

.FavIn2 {
  stroke: url(#heart-gradient2) #9356DC;
  stroke-width: 10;
  fill: url(#heart-gradient2) #9356DC;
}

.FavIn3 {
  stroke: url(#heart-gradient3) #9356DC;
  stroke-width: 10;
  fill: url(#heart-gradient3) #9356DC;
}

.FavIn4 {
  stroke: url(#heart-gradient4) #9356DC;
  stroke-width: 10;
  fill: url(#heart-gradient4) #9356DC;
}

.stroke {
  stroke: #000;
  stroke-width: 10;
  fill: #000;
}

.white {
  stroke: #000;
  stroke-width: 10;
  fill: #fff;
}

.heartBox:checked ~ .ImgHeart .colorized {
  display: block;
}

.heartBox:checked ~ .ImgHeart .empty {
  display: none;
}

.ellipsis {
  width: calc(100% - 40px);
}

.cardLi label p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.5s;
}

.box:checked ~ label .ellipsis {
  width: calc(100% - 105px);
  transition: 0.5s;
}

.box:checked ~ label:nth-child(2) .cardLi__global--side {
  right: calc(5% + 60px);
  transition: 0.5s;
}

body {
  position: relative;
}

.block-page, .block-Rest {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

.block-page {
  animation: opacity 3s;
}

@media screen and (max-width: 950px) {
  .working__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 950px) {
  .box:hover ~ .tick {
    right: 0;
  }

  .box:hover ~ .tick img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    animation: rotate2 0.5s;
  }

  .box:hover ~ label .ellipsis {
    width: calc(100% - 105px);
    transition: 0.5s;
  }

  .box:hover ~ label:nth-child(2) .cardLi__global--side {
    right: calc(5% + 60px);
    transition: 0.5s;
  }
}

/*# sourceMappingURL=style.css.map */
