//__main.sass__\\

//** BASE **\\

@import "reset.css";

//** UTILS **\\

@import "./2.Utils/variables";
@import "./2.Utils/typographie";

//** COMPOSANTS **\\

@import "./4.Composants/button";

.block-page {
    margin: 0;
    padding: 0;
}

.header {
    padding: 15px;
    &__title {
        display: block;
        font-family: Shrikhand;
        font-size: 2em;
        width: 175px;
        margin: auto;
    }
}

.local {
    display: flex;
    justify-content: center;
    background-color: $color_dark-grey;
    padding: 10px;
    box-shadow: inset 0px 2px 5px 2px #b1b1b1;
    &__img {
        width: 10px;
        margin-right: 10px;
    }
    &__txt {
        font-size: 0.9em;
        font-family: 'Roboto-Medium', 'sans-serif';
    }
}

.explor {
    background-color: $color_clear-grey;
    padding: 20px;
    &__title {
        font-family: 'Roboto-Black';
        font-size: 1.5em;
        text-align: center;
        padding: 25px 0px 5px 0px;
    }
    &__subtitle {
        font-family: 'Roboto-Light';
        font-size: 1em;
        text-align: center;
        padding: 10px 0px 10px 0px;
    }
}