//__main.sass__\\

//** 1.BASE **\\
@import "./1.Base/variables";
//** 2.UTILS **\\
@import "./2.Utils/typographie";
@import "./2.Utils/mixins";
//** 3.LAYOUT **\\
@import "./3.Layout/header";
@import "./3.Layout/footer";
//** 4.COMPOSANTS **\\
@import "./4.Composants/button";
//** 5.PAGE **\\
@import "./5.Pages/home";

.local {
    display: flex;
    justify-content: center;
    background-color: $color_dark-grey;
    padding: 10px;
    box-shadow: inset 0px 2px 5px 2px #b1b1b1;
    &__img {
        width: 10px;
        margin-right: 10px;
    }
    &__txt {
        font-size: 0.9em;
        font-family: 'Roboto-Medium', 'sans-serif';
    }
}

.explor {
    background-color: $color_clear-grey;
    padding: 20px;
    &__title {
        font-family: 'Roboto-Black';
        font-size: 1.5em;
        text-align: center;
        padding: 25px 0px 5px 0px;
    }
    &__subtitle {
        font-family: 'Roboto-Light';
        font-size: 1em;
        text-align: center;
        padding: 10px 0px 10px 0px;
    }
}