//__home.scss__//

.block-page {
    margin: 0;
    padding: 0;
    width: 100%;
    
}

// .imgBg1 {
//     background-image: url("../../IMAGES/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.png");
//     background-size: cover;
//     width: 100%;
//     height: 100%;
// }
