.local {
    display: flex;
    justify-content: center;
    background-color: $color_dark-grey;
    padding: 18px;
    box-shadow: inset 0px 2px 5px 2px #b1b1b1;
    &__img {
        width: 10px;
        margin-right: 10px;
    }
    &__txt {
        font-size: 0.9em;
        font-family: 'Roboto-Medium', 'sans-serif';
    }
}

.explor {
    background-color: $color_clear-grey;
    padding: 15px 10px 50px 10px;
    &__title {
        font-family: 'Roboto-Black','sans-serif';
        font-size: 1.5em;
        text-align: center;
        padding: 25px 5px 5px 5px;
    }
    &__subtitle {
        font-family: 'Roboto-Light';
        font-size: 1em;
        text-align: center;
        padding: 10px 0px 35px 0px;
    }
}

.working {
    h2 {
        font-family: 'Roboto-Black','sans-serif';
        font-size: 1.4em;
        padding: 50px 0px 25px 25px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap
    }
    &__list--grey {
        @include WorkList;
        background-color: $color_dark-grey;
    }
    &__list--purple {
        @include WorkList;
        background-color: $color_clear-purple;
    }
    .number{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%,-50%);
        font-family: 'Roboto-Bold';
        border: solid;
        border-radius: 50%;
        padding: 5px;
    }
    &__list img{
        width: 12px;
    }
}