.local {
    display: flex;
    justify-content: center;
    background-color: $color_dark-grey;
    padding: 18px;
    box-shadow: inset 0px 2px 5px 2px #b1b1b1;
    &__img {
        width: 10px;
        margin-right: 10px;
    }
    &__txt {
        font-size: 0.9em;
        font-family: 'Roboto-Medium', 'sans-serif';
    }
}

.explor {
    background-color: $color_clear-grey;
    padding: 15px 10px 50px 10px;
    &__title {
        font-family: 'Roboto-Black','sans-serif';
        font-size: 1.5em;
        text-align: center;
        padding: 25px 20px 5px 20px;
    }
    &__subtitle {
        font-family: 'Roboto-Light';
        font-size: 1em;
        text-align: center;
        padding: 10px 0px 35px 0px;
    }
}

.working {
    .number{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%,-50%);
        width: 25px;
        height: 25px;
        font-family: 'Roboto-Bold';
        font-size: 0.9em;
        border-radius: 50%;
        padding: 7px 0px 0px 8px;
        background-color: $color-primary;
        color: #fff;
    }
    &__list img{
        width: 18px;
        height: 20px;
        margin-left: 25px;
    }
    h2 {
        font-family: 'Roboto-Black','sans-serif';
        font-size: 1.4em;
        padding: 50px 0px 25px 25px;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap
    }
    &__list--grey {
        @include WorkList;
        background-color: $color_dark-grey;
    }
    &__list--purple {
        @include WorkList;
        background-color: $color_clear-purple;
    }
    span {
        margin-right: 25px;
    }
}

.restaurants {
    background-color: $color_clear-grey;
    &__title {
        font-family: 'Roboto-Bold';
    }
    &__card {
        width: 90%;
        height: 200px;
        margin: auto;
        border: solid;
        margin-bottom: 50px;
        overflow: hidden;
        border-radius: 25px;
        &--bg {
            object-fit: cover;
            width: 100%;
            height: 125px;
        }
    }
    .ImgHeart {
        width: 20px;
    }
    .blocTxt {
        height: 50px;
    }
}