//__mediaQ.scss// 

//--MOBILE--//
@media screen and (max-width: 950px) {
    .working {
        &__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

//--DESKTOP--//
@media screen and (min-width: 950px) {

    .box:hover ~ .tick {
        right: 0;
    }

    .box:hover ~ .tick img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 20px;
        animation: rotate2 0.5s;
    }
  
    .box:hover ~ .container .ellipsis {
        width: calc(100% - 105px);
        transition: 0.5s;
    }

    .box:hover ~ .container .side {
        right: calc(5% + 60px);
        transition: 0.5s;
    }
}