// __home.scss__//

body {
    position: relative;
}

.block-page,
.block-Rest {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.block-page {
    animation: opacity 3s;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}