/**********************
======== COLOR ========
**********************/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color_dark-grey: #eaeaea;
$color_clear-grey: #f6f6f6;

/**********************
===== FONT - SIZE =====
**********************/


/**********************
========= SIZE ========
**********************/

$size-widht: 110px;
$size-height: 75px;