//__variable.scss__//


/***********************************************************
=========================== COLOR ==========================
***********************************************************/

//principales//

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//utilitaires//

$color-clear_primary: #a777e2;
$color-clear_secondary: #fd9be2;
$color_dark-grey: #eaeaea;
$color_clear-grey: #f6f6f6;

//texte// 

$color_black: #000;
$color_white: #fff;