/**********************
======== COLOR ========
**********************/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color_dark-grey: #eaeaea;

/**********************
===== FONT - SIZE =====
**********************/

$title-size: 1.2em;
$txt-size: 0.9em;

/**********************
========= SIZE ========
**********************/

$size-widht: 110px;
$size-height: 75px;