//__section n°1__//

.local {
    display: flex;
    justify-content: center;
    background-color: $color_dark-grey;
    padding: 18px;
    box-shadow: inset 0px 2px 5px 2px #b1b1b1;
}

.explor {
    background-color: $color_clear-grey;
    padding: 25px 10px 25px 10px;
    h2 {
        text-align: center;
        padding: 25px 20px 5px 20px;
    }
    .light {
        display: block;
        text-align: center;
        padding: 10px 0px 35px 0px;
    }
}

.working {
    width: 90%;
    margin: auto;
    padding-bottom: 25px;
    background-color: #fff;
    .number {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%,-50%);
        width: 25px;
        height: 25px;
        font-family: 'Roboto-Bold';
        font-size: 0.9em;
        border-radius: 50%;
        background-color: $color-primary;
        color: #fff;
        line-height: 25px;
    }
    h2 {
        width: 100%;
        margin: auto;
        padding: 50px 0px 25px 25px;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    &__list--btn {
        @include WorkList;
        background-color: $color_dark-grey;
    }
    span {
        margin-right: 10px;
        color: #000;
    }
}