//__animation.scss__//

//__keyframes__//

@keyframes opacity {
	from {
		opacity: 0.02;
	}

	90% {
		opacity: 0.02;
	}

	to {
		opacity: 1;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

//__action click coeur__//

.ImgHeart img { //label//
    position: absolute;
    width: 25px;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.ImgHeart { //label//
    position: absolute;
    width: 25px;
    top: 85%;
    left: 88%;
    transform: translate(-50%,-50%);
    // cursor: pointer;
}

.heartBox { //input//
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.emptyHeart {
    display: block;
}

.favHeart {
    display: none;
}

.heartBox:checked ~ .ImgHeart .favHeart {
    display: block;
}

.heartBox:checked ~ .ImgHeart .emptyHeart{
    display: none;
}

@keyframes rotate2 {
    from {
        transform: rotate(-200deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

