//__animation.scss__//

//__keyframes__//

// @keyframes opacity {
// 	from {
// 		opacity: 0.02;
// 	}

// 	90% {
// 		opacity: 0.02;
// 	}

// 	to {
// 		opacity: 1;
// 	}
// }

// @keyframes rotate {
// 	0% {
// 		transform: rotate(0deg);
// 	}

// 	100% {
// 		transform: rotate(360deg);
// 	}
// }

//__Green-Tick__//

@keyframes rotate2 {
    0% {
        transform: rotate(-200deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

//__action click coeur__//

.ImgHeart { //label//
    position: absolute;
    width: 25px;
    top: 85%;
    left: 88%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.heartBox { //input//
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}


// SVG gradient heart

.colorized, .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25px;
    transition: 0.5s;
}

.stop-1 {
    stop-color: $color-primary;
}

.stop-2 {
    stop-color: $color-secondary;
}

.FavIn {
    stroke: url(#heart-gradient) $color-primary;
    stroke-width: 0;
    fill: url(#heart-gradient) $color-primary;
}


.stroke{
    stroke:#000;
    stroke-width: 10;
    fill: #000;
}

.white {
    stroke: #000;
    stroke-width: 5;
    fill:#fff
}

.colorized {
    display: none;
    // animation: size 0.3s;
}

.empty {
    display: block;
    // animation: size 0.3s;
}

// @keyframes size {
//     0% {
//         transform: scale(1);
//     }

//     50%{
//         transform: scale(1.2);
//     }

//     100% {
//         transform: scale(1);
//     }
// }


.heartBox:checked ~ .ImgHeart .colorized {
    display: block;
}

.heartBox:checked ~ .ImgHeart .empty {
    display: none;
}