//__animation.scss__//

//__keyframes__//

// @keyframes opacity {
// 	from {
// 		opacity: 0.02;
// 	}

// 	90% {
// 		opacity: 0.02;
// 	}

// 	to {
// 		opacity: 1;
// 	}
// }

// @keyframes rotate {
// 	0% {
// 		transform: rotate(0deg);
// 	}

// 	100% {
// 		transform: rotate(360deg);
// 	}
// }

//__action click coeur__//

.ImgHeart { //label//
    position: absolute;
    width: 25px;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
}

.heartBox { //input//
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

