//__ellipsis.scss__//

.ellipsis {
    width: calc(100% - 40px);
}

.cardLi .container p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.5s;
}

.box:checked ~ .container .ellipsis {
    width: calc(100% - 105px);
    transition: 0.5s;
}

.box:checked~.container:nth-child(2) .side {
    right: calc(5% + 60px);
    transition: 0.5s;
}