//__form.scss__//


.start, .main, .course {
    width: 30%;
    min-width: 350px;
    margin-top: 25px;
    padding-left: 20px;
    .light {
        text-transform: uppercase;
    }
    hr {
        width: 50px;
        height: 4px;
        margin-top: 5px;
        margin-left: 0;
        background-color: $color-tertiary;
        border: none;
    }
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardLi {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 50px;
    margin: 5px;
    &__flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        &--title {
            display: block;
            width: 100%;
            margin: auto;
            text-overflow: ellipsis;
        }
        &--subtitle {
            display: block;
            text-overflow: ellipsis;

        }
        &--side {
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.box {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.tick {
    position: relative;
    width: 40px;
    height: 100%;
    text-align: center;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 20px;
    }
}

.box:hover ~ .tick {
    right: 0;
}

.box:checked ~ .cardLi>div>.cardLi__flex--title {
    width: 100px;
}

.tick {
    position: absolute;
    right: -40px;
    transition: 0.3s;
    background-color: $color-tertiary;
}
// .dish {
//     position: relative;
    // display: flex;
    // border: solid;
//     justify-content: space-between;
//     padding: 10px;
//     background-color: #fff;
//     border-radius: 15px;
//     width: 340px;
//     max-width: 90%;
//     height: 65px;
//     margin: 10px auto;
//     line-height: 1.5em;
//      
    // &__flex {
    //     display: flex;
    //     flex-direction: column;
    //     &--name {
    //         font-size: 1.2em;
    //     }      
    // }
//     &__price {
//         position: absolute;
//         top: 50%;
//         left: 95%;
//         transform: translate(-50%,-50%);
//         background-color: #fff;
//         box-sizing: border-box;
//         width: 50px;
//         height: 100%;
//         margin: auto;
//         padding-top: 30px;
//     }
// }

